<div class="row margin-top-10 value-option-wrapper" ng-class="{checkToDelete:option._destroy}">
    <div class="form-group col-md-12 margin-bottom-10">
        <label class="control-label">
            Option in English
        </label>
        <input type="text" class="form-control" ng-model="option.name_en" placeholder="Option in English" ng-disabled="option._destroy">
    </div>
    <div class="form-group col-md-12 margin-bottom-10" dir="rtl">
        <label class="control-label">
            الإختيار بالعربى
        </label>
        <input type="text" class="form-control" ng-model="option.name_ar" placeholder="الاختيار بالعربى" ng-disabled="option._destroy"  dir="rtl">
    </div>
    <div ng-if="!option.id" class="col-md-12 pull-right">
        <button class="btn btn-squared btn-danger" ng-click="detailCtrl.removeValueOption({{$index}}) ">
            <i class="fa fa-trash "></i> Delete
        </button>
    </div>
</div>
<!--  -->
<div class="checkbox clip-check check-danger" ng-if="option.id">
    <input ng-model="option._destroy" type="checkbox" id="value_option_checkbox{{$index}}">
    <label for="value_option_checkbox{{$index}}">
        Delete
    </label>
</div>