<section id="page-title" class="ng-scope">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">
               {{'activerecord.attributes.property_state'|translate}}
            </h1>
        </div>
    </div>
</section>
<div class="container-fluid container-fullw">
    <div class="row margin-bottom-20">
        <div class="col-md-6">
            <input type="text" class="form-control" id="" placeholder="Search detial Category">
        </div>
        <div class="col-md-6">
            <button class="btn btn-wide btn-primary pull-right btn-squared" ng-click="statesCtrl.create()">
                <i class="ti-plus"></i>
                <span translate="helpers.submit.create_new" translate-values="{model:'{{ 'activerecord.models.property_state'|translate}}'}" />
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- start: TABLE WITH FILTERS -->
            <!-- <strong>Filter:</strong> {{tableParams.filter()|json}} -->
            <table ng-table="tableParams" class="table table-striped table-bordered table-full-width">
                <tr ng-repeat="propertyState in statesCtrl.statesList">
                    <td data-title="'activerecord.attributes.property_state.name' | translate " filter="{ 'name': 'text' }"> {{propertyState.name}} </td>
                    <td data-title="'activerecord.attributes.property_state.code' | translate ">{{propertyState.code}} </td>
                    <td class="rowTd">
                        <div class="margin-right-10">
                            <input type="button" state="button" class="btn btn-primary btn-squared" id="editRowBtn{{p.id}}" value="Edit" ng-click="statesCtrl.edit($index)">
                        </div>
                    </td>
                </tr>
            </table>
            <!-- end: TABLE WITH FILTERS -->
        </div>
    </div>
</div>