
  <div class="row">
    <div class="col-sm-8">
      <h1 class="mainTitle" translate="{{'dashboard.property_create_wizard.title' | translate}}">
      </h1>
    </div>
  </div>
</section>
<!-- start: WIZARD DEMO -->
<div class="container-fluid container-fullw bg-white">
  <div class="row">
    <div class="col-md-12">
      <!-- start: WIZARD FORM -->
      <form name="Form" id="form" novalidate>
        <div id="wizard" class="swMain">
          <!-- start: WIZARD SEPS -->
          <ul>
            <li ng-click="wizardCtrl.form.goto(Form, 1)">
              <a href ng-class="{'selected' : wizardCtrl.currentStep >= 1, 'done' : wizardCtrl.currentStep > 1}">
                <div class="stepNumber">
                  1
                </div>
                <span class="stepDesc text-small"> Personal Information </span>
              </a>
            </li>
            <li ng-click="wizardCtrl.form.goto(Form, 2)">
              <a href ng-class="{'selected' : wizardCtrl.currentStep >= 2, 'done' : wizardCtrl.currentStep > 2}">
                <div class="stepNumber">
                  2
                </div>
                <span class="stepDesc text-small"> Details </span>
              </a>
            </li>
            <li ng-click="wizardCtrl.form.goto(Form, 3)">
              <a href ng-class="{'selected' : wizardCtrl.currentStep >= 3, 'done' : wizardCtrl.currentStep > 3}">
                <div class="stepNumber">
                  3
                </div>
                <span class="stepDesc text-small"> Images </span>
              </a>
            </li>
            <li ng-click="wizardCtrl.form.goto(Form, 4)">
              <a href ng-class="{'selected' : wizardCtrl.currentStep >= 4, 'done' : wizardCtrl.currentStep > 4}">
                <div class="stepNumber">
                  4
                </div>
                <span class="stepDesc text-small"> Location </span>
              </a>
            </li>
            <li ng-click="wizardCtrl.form.goto(Form, 5)">
              <a href ng-class="{'selected' : wizardCtrl.currentStep >= 5, 'done' : wizardCtrl.currentStep > 5}">
                <div class="stepNumber">
                  5
                </div>
                <span class="stepDesc text-small"> Pricing </span>
              </a>
            </li>
            <li ng-click="wizardCtrl.form.goto(Form, 6)">
              <a href ng-class="{'selected' : wizardCtrl.currentStep >= 6, 'done' : wizardCtrl.currentStep > 6}">
                <div class="stepNumber">
                  6
                </div>
                <span class="stepDesc text-small"> Complete </span>
              </a>
            </li>
          </ul>
          <!-- end: WIZARD SEPS -->
          <!-- start: WIZARD STEP 1 -->
          <div id="step-1" ng-if="wizardCtrl.currentStep == 1">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-6">
                  <div class="padding-30">
                    <!-- start: CHOOSE_PROPERTY_TEMPLATE -->
                    <h2 class="StepTitle"> Choose property template</h2>
                    <div class="form-group" ng-class="{'has-error':Form.service_type.$dirty && Form.service_type.$invalid, 'has-success':Form.service_type.$valid}">
                      <label class="control-label">
                        <!-- {{'activerecord.models.property_type'|translate}} <span class="symbol required"></span> -->
                      </label>
                      <ui-select ng-model="wizardCtrl.template" theme="bootstrap" name="service_type" on-select="wizardCtrl.applyTemplate($select.selected)">
                        <ui-select-match placeholder="{{'dashboard.select_list' | translate}}">
                          {{$select.selected.template.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in wizardCtrl.propertyTemplates | filter: $select.search">
                          <div ng-bind-html="item.template.name | highlight: $select.search"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
                <!-- end: CHOOSE_PROPERTY_TEMPLATE -->
                <div class="col-md-6">
                  <div class="padding-30">
                    <h2 class="StepTitle"> Choose property type</h2>
                    <div class="form-group" ng-class="{'has-error':Form.service_type.$dirty && Form.service_type.$invalid, 'has-success':Form.service_type.$valid}">
                      <label class="control-label">
                        {{'activerecord.models.property_type'|translate}} <span class="symbol required"></span>
                      </label>
                      <ui-select ng-model="wizardCtrl.property.type" theme="bootstrap" name="service_type" on-select="wizardCtrl.resetInstances()" required>
                        <ui-select-match placeholder="{{'dashboard.select_list' | translate}}">
                          {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in wizardCtrl.propertyTypes | filter: $select.search">
                          <div ng-bind-html="item.name | highlight: $select.search"></div>
                          <small ng-bind-html="item.code | highlight: $select.search"></small>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="padding-30">
                    <h2 class="StepTitle"> Choose service type</h2>
                    <div class="form-group" ng-class="{'has-error':Form.type.$dirty && Form.type.$invalid, 'has-success':Form.type.$valid}">
                      <label class="control-label">
                        {{'activerecord.models.property_service_type'|translate}} <span class="symbol required"></span>
                      </label>
                      <ui-select ng-model="wizardCtrl.property.service_type" theme="bootstrap" name="type" required>
                        <ui-select-match placeholder="{{'dashboard.select_list' | translate}}">
                          {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in wizardCtrl.serviceTypes | filter: $select.search">
                          <div ng-bind-html="item.name | highlight: $select.search"></div>
                          <small ng-bind-html="item.code | highlight: $select.search"></small>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-o back-step btn-wide pull-right" ng-click="wizardCtrl.form.prev(Form)">
                    <i class="fa fa-circle-arrow-right"></i> Back
                  </button>
                  <button class="btn btn-primary btn-o next-step btn-wide pull-left" ng-click="wizardCtrl.form.next(Form)">
                    Next <i class="fa fa-arrow-circle-left"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- end: WIZARD STEP 1 -->
          <!-- start: WIZARD STEP 2 -->
          <div id="step-2" ng-if="wizardCtrl.currentStep == 2">
            <div class="row">
              <div class="col-md-6">
                <fieldset>
                  <legend>
                    Details
                  </legend>
                  <!--start: old Property detail instances-->
                  <div ng-repeat="(catId, detail_instances) in wizardCtrl.property.property_detail_instances_attributes | groupBy: 'category_id'">
                  <strong>
                    {{ wizardCtrl.propertyDetailCategories[catId].name }}
                    </strong>
                    <div ng-repeat="detail_instance in detail_instances">
                      <span ng-if="detail_instance.removed" class="input-group-btn">
                        <div class="checkbox clip-check check-danger">
                          <input ng-model="detail_instance._destroy" type="checkbox" id="remove_instance_{{$index}}" value="1">
                          <label for="remove_instance_{{$index}}">
                            remove instance
                          </label>
                        </div>
                      </span>
                      <span ng-if="detail_instance.new &&  wizardCtrl.property.id" class="label label-info">new detail
                      </span>
                      <div class="form-group" ng-class="{'has-error': detail_instance.removed || Form['property.property_detail_instances_attributes'+$index+'.value'].$dirty && Form['property.property_detail_instances_attributes'+$index+'.value'].$invalid, 'has-success':Form['property.property_detail_instances_attributes'+$index+'.value'].$valid}">
                        <label class="control-label">
                        {{wizardCtrl.propertyDetails[detail_instance.property_detail_id].name}}
                        {{wizardCtrl.propertyDetails[detail_instance.property_detail_id].name}} <span ng-if="wizardCtrl.propertyDetails[detail_instance.property_detail_id].mandatory" class="symbol required"></span>
                        </label>
                        <!-- start: value_type == 'string' -->
                        <input ng-if="wizardCtrl.propertyDetails[detail_instance.property_detail_id].value_type == 'string'" ng-model="detail_instance.value"
                          placeholder="{{detail.name}}" class="form-control" name="{{detail.code}}">
                        <input name="property.property_detail_instances_attributes{{$index}}.value" ng-required="wizardCtrl.propertyDetails[detail_instance.property_detail_id].mandatory" ng-if="wizardCtrl.propertyDetails[detail_instance.property_detail_id].value_type == 'string'" ng-model="detail_instance.value"
                          placeholder="{{detail.name}}" class="form-control" name="{{detail.code}}">
                        <!-- end: value_type == 'string' -->
                        <!-- start: value_type == 'text' -->
                        <textarea ng-if="wizardCtrl.propertyDetails[detail_instance.property_detail_id].value_type == 'text'" ng-model="detail_instance.value"
                          placeholder="Default Text" id="form-field-22" class="form-control"></textarea>
                        <textarea name="property.property_detail_instances_attributes{{$index}}.value" ng-required="wizardCtrl.propertyDetails[detail_instance.property_detail_id].mandatory" ng-if="wizardCtrl.propertyDetails[detail_instance.property_detail_id].value_type == 'text'" ng-model="detail_instance.value"
                          placeholder="Default Text" id="form-field-22" class="form-control"></textarea>
                        <!-- end: value_type == 'text' -->
                        <!-- start: value_type == 'select' -->
                        <ui-select ng-if="wizardCtrl.propertyDetails[detail_instance.property_detail_id].value_type == 'select'" ng-init="detail_instance.property_detail_value_option_ids = detail_instance.property_detail_value_option_ids || []"
                          ng-model="detail_instance.property_detail_value_option_ids[0]" theme="bootstrap">
                        <ui-select name="property.property_detail_instances_attributes{{$index}}.value" ng-required="wizardCtrl.propertyDetails[detail_instance.property_detail_id].mandatory" ng-if="wizardCtrl.propertyDetails[detail_instance.property_detail_id].value_type == 'select'" 
                          ng-init="detail_instance.property_detail_value_option_ids = detail_instance.property_detail_value_option_ids || []"
                          ng-model="detail_instance.property_detail_value_option_ids[0]"
                          theme="bootstrap">
                          <ui-select-match placeholder="Select in the list...">
                            {{$select.selected.name}}
                          </ui-select-match>
                          <ui-select-choices repeat="option.id as option in wizardCtrl.propertyDetails[detail_instance.property_detail_id].property_detail_value_options_attributes | filter:$select.search">
                            <div ng-bind-html="option.name | highlight: $select.search"></div>
                          </ui-select-choices>
                        </ui-select>
                        <!-- end: value_type == 'select' -->
                        <!-- start: value_type == 'multi_select' -->
                        <ui-select ng-if="wizardCtrl.propertyDetails[detail_instance.property_detail_id].value_type == 'multi_select'" multiple ng-model="detail_instance.property_detail_value_option_ids"
                          theme="bootstrap" ng-disabled="disabled" close-on-select="false">
                        <ui-select name="property.property_detail_instances_attributes{{$index}}.value" ng-required="wizardCtrl.propertyDetails[detail_instance.property_detail_id].mandatory" ng-if="wizardCtrl.propertyDetails[detail_instance.property_detail_id].value_type == 'multi_select'" multiple ng-model="detail_instance.property_detail_value_option_ids"
                          theme="bootstrap" ng-disabled="disabled" close-on-select="false">
                          <ui-select-match placeholder="Select colors...">
                            {{$item.name}}
                          </ui-select-match>
                          <ui-select-choices repeat="option.id as option in wizardCtrl.propertyDetails[detail_instance.property_detail_id].property_detail_value_options_attributes | filter:$select.search">
                            {{option.name}}
                          </ui-select-choices>
                        </ui-select>
                        <!-- end: value_type == 'multi_select' -->
                        <!-- start: value_type == 'bool' -->
                        <input ng-if="wizardCtrl.propertyDetails[detail_instance.property_detail_id].value_type == 'bool'" ng-model="detail_instance.value"
                          type="checkbox" id="checkbox1">
                        <div ng-if="wizardCtrl.propertyDetails[detail_instance.property_detail_id].value_type == 'bool'" class="checkbox clip-check check-primary ng-scope" >
                        <input name="property.property_detail_instances_attributes{{$index}}.value" ng-required="wizardCtrl.propertyDetails[detail_instance.property_detail_id].mandatory" ng-model="detail_instance.value" type="checkbox" id="checkbox-bool{{$index}}" >
                          <label for="checkbox-bool{{$index}}" >
                          </label>
                        </div>
                        <!-- end: value_type == 'bool'-->
                      </div>
                    </div>
                  </div>
                  <!--end: old Property detail instances-->
                </fieldset>
                <div class="form-group">
                  <button class="btn btn-primary btn-o back-step btn-wide pull-right" ng-click="wizardCtrl.form.prev(Form)">
                    <i class="fa fa-circle-arrow-right"></i> Back
                  </button>
                  <button class="btn btn-primary btn-o next-step btn-wide pull-left" ng-click="wizardCtrl.form.next(Form)">
                    Next <i class="fa fa-arrow-circle-left"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-6">
                <fieldset>
                  <legend>
                    Account Credential
                  </legend>
                  <ui-select ng-model="wizardCtrl.property.property_state_id" theme="bootstrap">
                    <ui-select-match placeholder="Select in the list...">
                      {{wizardCtrl.propertyStates[$select.selected].name}}
                    </ui-select-match>
                    <ui-select-choices repeat="item in wizardCtrl.property.type.property_state_ids | filter: $select.search">
                      <div ng-bind-html="wizardCtrl.propertyStates[item].name | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                  <ui-select ng-model="wizardCtrl.property.status" theme="bootstrap">
                    <ui-select-match placeholder="Select in the list...">
                      {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="item in wizardCtrl.statuses | filter: $select.search">
                      <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </fieldset>
              </div>
            </div>
          </div>
          <!-- end: WIZARD STEP 2-->
          <!-- start: WIZARD STEP 3 -->
          <div id="step-3" ng-if="wizardCtrl.currentStep == 3">
            <!-- start: UPLOADS ONLY IMAGES -->
            <div class="container-fluid container-fullw bg-white">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="over-title margin-bottom-15">Uploads <span class="text-bold">only images</span></h5>
                  <p>
                    with canvas preview
                  </p>
                  <!-- /// controller:  'UploadCtrl' -  localtion: assets/js/controllers/uploadCtrl.js /// -->
                  <div nv-file-drop="" uploader="wizardCtrl.imagesUploader">
                    <div class="row">
                      <div class="col-md-3">
                        <h5>Select files</h5>
                        <div class="panel panel-white">
                          <div class="panel-body">
                            <div ng-show="wizardCtrl.imagesUploader.isHTML5">
                              <!-- 3. nv-file-over uploader="link" over-class="className" -->
                              <div class="well my-drop-zone" nv-file-over="" uploader="wizardCtrl.imagesUploader">
                                Base drop zone
                              </div>
                            </div>
                            <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                            <span class="btn btn-primary btn-o btn-file"> Select an image file
                              <input type="file" nv-file-select="" uploader="wizardCtrl.imagesUploader" multiple />
                            </span>
                            <br/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-9 file-upload" style="margin-bottom: 40px">
                        <h4>The queue</h4>
                        <p>
                          Queue length: {{ wizardCtrl.imagesUploader.queue.length }}
                        </p>
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th width="50%">Name</th>
                                <th ng-show="wizardCtrl.imagesUploader.isHTML5">Size</th>
                                <th ng-show="wizardCtrl.imagesUploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="item in wizardCtrl.imagesUploader.queue">
                                <td><strong>{{ item.file.name }}</strong>
                                  <!-- Image preview -->
                                  <!--auto height-->
                                  <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                  <!--auto width-->
                                  <div ng-show="wizardCtrl.imagesUploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                  <!--fixed width and height -->
                                  <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                </td>
                                <td ng-show="wizardCtrl.imagesUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="wizardCtrl.imagesUploader.isHTML5">
                                  <div class="progress progress-xs margin-bottom-0">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                  </div>
                                </td>
                                <td class="text-center"><span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span><span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                  <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                  <!--<button type="button" class="btn btn-primary btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                  <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                                  <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                  <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                </button>-->
                                  <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div>
                          <!--<button type="button" class="btn btn-primary btn-s" ng-click="wizardCtrl.imagesUploader.uploadAll()" ng-disabled="!wizardCtrl.imagesUploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                          </button>
                          <button type="button" class="btn btn-primary btn-o btn-s" ng-click="wizardCtrl.imagesUploader.cancelAll()" ng-disabled="!wizardCtrl.imagesUploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                          </button>-->
                          <button type="button" class="btn btn-primary btn-o btn-s" ng-click="wizardCtrl.imagesUploader.clearQueue()" ng-disabled="!wizardCtrl.imagesUploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary btn-o back-step btn-wide pull-right" ng-click="wizardCtrl.form.prev(Form)">
                      <i class="fa fa-circle-arrow-right"></i> Back
                    </button>
                    <button class="btn btn-primary btn-o next-step btn-wide pull-left" ng-click="wizardCtrl.form.next(Form)">
                      Next <i class="fa fa-arrow-circle-left"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end: UPLOADS ONLY IMAGES -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th width="50%">Name</th>
                    <th ng-show="wizardCtrl.imagesUploader.isHTML5">Size</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in wizardCtrl.property.images">
                    <td><strong>{{ item.avatar}}</strong>
                      <!-- Image preview -->
                      <!--auto width-->
                      <img ng-src="{{item.avatar}}" alt="property" height="100" class="media-object">
                    </td>
                    <td ng-show="wizardCtrl.imagesUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td nowrap>
                      <button type="button" class="btn btn-warning btn-xs" ng-click="wizardCtrl.property.deleted_images_ids.splice(wizardCtrl.property.deleted_images_ids.indexOf(item.id), 1)" ng-disabled="!wizardCtrl.property.deleted_images_ids.includes(item.id)">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                      </button>
                      <button type="button" class="btn btn-danger btn-xs" ng-click="wizardCtrl.property.deleted_images_ids.push(item.id)" ng-disabled="wizardCtrl.property.deleted_images_ids.includes(item.id)">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end: WIZARD STEP 3 -->
          <!-- start: WIZARD STEP 4 -->
          <div id="step-4" ng-if="wizardCtrl.currentStep == 4">
            <div class="row">
              <div class="col-md-12">
                <!--start: Map-->
                <map on-center_changed="wizardCtrl.form.map.centerChanged()" zoom="20" map-type-id="MapTypeId.ROADMAP">
                  <marker ng-if="wizardCtrl.property.lat && wizardCtrl.property.lng" position="{{[wizardCtrl.property.lat, wizardCtrl.property.lng]}}">
                  </marker>
                  <marker ng-if="wizardCtrl.form.map.ngmap && wizardCtrl.form.map.ngmap.getCenter()" position="{{[wizardCtrl.form.map.ngmap.getCenter().lat(), wizardCtrl.form.map.ngmap.getCenter().lng()]}}" icon='http://labs.google.com/ridefinder/images/mm_20_yellow.png'>
                  </marker>
                  <marker ng-if="wizardCtrl.form.map.currentGeolocationPoint" position="{{[wizardCtrl.form.map.currentGeolocationPoint.lat(), wizardCtrl.form.map.currentGeolocationPoint.lng()]}}" icon='http://labs.google.com/ridefinder/images/mm_20_green.png'>
                  </marker>
                  <custom-control id="go-home" position="TOP_RIGHT" index="1" on-click="wizardCtrl.form.map.goCurrentLocation()">
                    <a href class="btn btn-primary btn-xs margin-top-15 margin-right-5">
                      goto Current Location
                    </a>
                  </custom-control>
                  <custom-control id="go-home" position="TOP_RIGHT" index="1" on-click="wizardCtrl.form.map.setPropertyLocation()">
                    <a href class="btn btn-primary btn-xs margin-top-15 margin-right-5">
                      set property location
                    </a>
                  </custom-control>
                  <custom-control id="go-home" position="TOP_RIGHT" index="1" on-click="wizardCtrl.form.map.gotoPropertyLocation()">
                    <a href class="btn btn-primary btn-xs margin-top-15 margin-right-5">
                      goto property Location
                    </a>
                  </custom-control>
                </map>
                <div class="col-md-6">
                  <fieldset>
                    <legend>
                      Location
                    </legend>
                    <div class="form-group">
                      <label>country</label>
                      <select class="cs-select cs-skin-slide" name="country" ng-model="wizardCtrl.property.country">
                        <option value="" disabled>country</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>city</label>
                      <select class="cs-select cs-skin-slide" name="country" ng-model="wizardCtrl.property.city">
                        <option value="" disabled>city</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>area</label>
                      <select class="cs-select cs-skin-slide" name="country" ng-model="wizardCtrl.property.area">
                        <option value="" disabled>area</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                      </select>
                    </div>
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <legend>
                      Address
                    </legend>
                    <div class="form-group">
                      <label>street</label>
                      <input type="string" class="form-control" name="street" ng-model="wizardCtrl.property.street">
                    </div>
                    <div class="form-group">
                      <label>number</label>
                      <input type="number" class="form-control" name="number" ng-model="wizardCtrl.property.number">
                    </div>
                    <div class="form-group">
                      <label>floor</label>
                      <input type="number" class="form-control" name="floor" ng-model="wizardCtrl.property.floor">
                    </div>
                    <div class="form-group">
                      <label>notes</label>
                      <textarea type="text" class="form-control" name="notes" ng-model="wizardCtrl.property.address">
                      </textarea>
                    </div>
                  </fieldset>
                </div>
                <!--end: Map-->
                <div class="form-group">
                  <button class="btn btn-primary btn-o back-step btn-wide pull-right" ng-click="wizardCtrl.form.prev(Form)">
                    <i class="fa fa-circle-arrow-right"></i> Back
                  </button>
                  <button class="btn btn-primary btn-o next-step btn-wide pull-left" ng-click="wizardCtrl.form.next(Form)">
                    Next <i class="fa fa-arrow-circle-left"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- end: WIZARD STEP 4 -->
          <!-- start: WIZARD STEP 5 -->
          <div id="step-5" ng-if="wizardCtrl.currentStep == 5">
            <div class="row">
              <div class="col-md-12">



                <button class="btn btn-wide btn-primary" ng-click="wizardCtrl.addPaymentPlan()">
                    <i class="ti-plus"></i>
                    <span translate="helpers.submit.create_new" translate-values="{model:'activerecord.models.payment_plan'}" class="ng-scope"></span>
                  </button>
                <div ng-repeat="payment_plan in wizardCtrl.property.property_payment_plans_attributes">
                  <button ng-if="!payment_plan.id" class="btn btn-wide btn-danger" ng-click="wizardCtrl.removePaymentPlan($index)">
                      <i class="ti-minus"></i>
                    <span translate="helpers.submit.create_new" translate-values="{model:'activerecord.models.payment_plan'}" class="ng-scope"></span>
                  </button>
                <!-- btn add new payment plan -->
                <button class="btn btn-wide btn-primary btn-squared" ng-click="wizardCtrl.addPaymentPlan()">
                  <i class="ti-plus"></i>
                  <span translate="helpers.submit.create_new" translate-values="{model:'{{'activerecord.models.payment_plan' | translate}}'}" class="ng-scope">
                                    </span>
                </button>
              </div>
              <div class="col-md-12">
                <!-- payment fieldset -->
                <div ng-repeat="payment_plan in wizardCtrl.property.property_payment_plans_attributes" class="margin-top-30">
                  <fieldset>
                    <legend>
                      <div translate="helpers.submit.create_new" translate-values="{model:'{{ 'activerecord.models.payment_plan'|translate}}'}" />
                    </legend>
                    <div class="col-md-9">
                      <div class="form-group" ng-class="{'has-error':Form.paymentrecord.value.$dirty && Form.paymentrecord.value.$invalid, 'has-success':Form.paymentrecord.value.$valid}">
                        <label class="control-label">
                          {{'activerecord.attributes.property_payment_record.value'|translate}} <span class="symbol required"></span>
                        </label>
                        <input type="number" placeholder="{{'activerecord.attributes.property_payment_record.value'|translate}}" class="form-control" name="firstName" ng-model="payment_plan.total_value" required />
                        <span class="error text-small block" ng-if="Form.paymentrecord.value.$dirty && Form.paymentrecord.value.$invalid">
                                              <div translate="errors.messages.required" translate-values="{attribute:'{{ 'activerecord.attributes.property_payment_record.value'|translate}}'}" /></span>
                      </div>
                      <div class="form-group" ng-class="{'has-error':Form.paymentrecord.description.$dirty && Form.paymentrecord.description.$invalid, 'has-success':Form.paymentrecord.description.$valid}">
                        <label class="control-label">
                          {{'activerecord.attributes.property_payment_record.description'|translate}}
                        </label>
                        <input type="text" placeholder="{{'activerecord.attributes.property_payment_record.description'|translate}}" class="form-control" name="lastName" ng-model="payment_plan.name" required />
                        <span class="error text-small block" ng-if="Form.paymentrecord.description.$dirty && Form.paymentrecord.description.$invalid">
                                              <div translate="errors.messages.required" translate-values="{attribute:'{{ 'activerecord.attributes.property_payment_record.description'|translate}}'}" /></span>
                      </div>
                    </div>
                    <div class="col-md-3 margin-top-20">
                      <button ng-if="!payment_plan.id" class="btn btn-wide btn-danger btn-squared pull-right" ng-click="wizardCtrl.removePaymentPlan($index)">
                        <i class="ti-minus"></i>
                        <span translate="helpers.submit.remove" translate-values="{model:'{{'activerecord.models.payment_plan' | translate}}'}" class="ng-scope">
                                              </span>
                      </button>
                    </div>
                    <!-- btn create new payment plan record -->
                    <div class="col-md-12">
                      <button class="btn btn-wide btn-primary btn-squared" ng-click="wizardCtrl.addPaymentPlanRecord(payment_plan)">
                        <i class="ti-plus"></i>
                        <span translate="helpers.submit.create_new" translate-values="{model:'{{'activerecord.models.payment_plan_record' | translate}}'}" class="ng-scope"></span>
                      </button>
                    </div>
                    <div ng-repeat="plan_record in payment_plan.property_payment_plan_records_attributes" class="col-md-12">
                      <fieldset>
                        <legend>
                          <div translate="helpers.submit.create_new" translate-values="{model:'{{ 'activerecord.models.payment_plan_record'|translate}}'}" />
                        </legend>
                        <div class="col-md-9">
                          <div class="form-group" ng-class="{'has-error':Form.paymentrecord.value.$dirty && Form.paymentrecord.value.$invalid, 'has-success':Form.paymentrecord.value.$valid}">
                            <label class="control-label">
                              {{'activerecord.attributes.property_payment_record.value'|translate}} <span class="symbol required"></span>
                            </label>
                            <input type="number" placeholder="{{'activerecord.attributes.property_payment_record.value'|translate}}" class="form-control" name="firstName" ng-model="plan_record.value" required />
                            <span class="error text-small block" ng-if="Form.paymentrecord.value.$dirty && Form.paymentrecord.value.$invalid"><div translate="errors.messages.required" translate-values="{attribute:'{{ 'activerecord.attributes.property_payment_record.value'|translate}}'}" /></span>
                          </div>
                          <div class="form-group" ng-class="{'has-error':Form.paymentrecord.description.$dirty && Form.paymentrecord.description.$invalid, 'has-success':Form.paymentrecord.description.$valid}">
                            <label class="control-label">
                              {{'activerecord.attributes.property_payment_record.description'|translate}}
                            </label>
                            <input type="text" placeholder="{{'activerecord.attributes.property_payment_record.description'|translate}}" class="form-control" name="lastName" ng-model="plan_record.description" required />
                            <span class="error text-small block" ng-if="Form.paymentrecord.description.$dirty && Form.paymentrecord.description.$invalid"><div translate="errors.messages.required" translate-values="{attribute:'{{ 'activerecord.attributes.property_payment_record.description'|translate}}'}" /></span>
                          </div>
                          <div class="checkbox clip-check check-primary checkbox-inline">
                            <input type="checkbox" id="checkbox{{$parent.$index}}{{$index}}" ng-model="plan_record.periodic" ng-change="plan_record.period = plan_record.periodic?  plan_record.period : null">
                            <label for="checkbox{{$parent.$index}}{{$index}}">
                              {{'activerecord.attributes.property_payment_record.description'|translate}}
                            </label>
                          </div>
                          <div ng-if="plan_record.periodic" class="form-group" ng-class="{'has-error':Form.paymentrecord.description.$dirty && Form.paymentrecord.description.$invalid, 'has-success':Form.paymentrecord.description.$valid}">
                            <label class="control-label">
                              {{'activerecord.attributes.property_payment_record.period'|translate}}
                            </label>
                            <input type="text" placeholder="{{'activerecord.attributes.property_payment_record.first_name'|translate}}" class="form-control" name="lastName" ng-model="plan_record.period" required />
                            <span class="error text-small block" ng-if="Form.paymentrecord.description.$dirty && Form.paymentrecord.description.$invalid"><div translate="errors.messages.required" translate-values="{attribute:'{{ 'activerecord.attributes.property_payment_record.first_name'|translate}}'}" /></span>
                          </div>
                          <div ng-if="plan_record.id" class="checkbox clip-check check-danger checkbox-inline">
                            <input type="checkbox" id="delete_checkbox{{$parent.$index}}{{$index}}" ng-model="plan_record._destroy">
                            <label for="delete_checkbox{{$parent.$index}}{{$index}}">
                              {{'destroy'|translate}}
                            </label>
                          </div>
                        </div>
                        <div class="col-md-3 margin-top-20">
                          <button ng-if="!plan_record.id" class="btn btn-wide btn-danger btn-squared" ng-click="wizardCtrl.removePaymentPlanRecord(payment_plan, $index)">
                            <i class="ti-minus"></i>
                            <span translate="helpers.submit.remove" translate-values="{model:'{{'activerecord.models.payment_plan' | translate}}'}" class="ng-scope"></span>
                          </button>
                        </div>
                      </fieldset>
                      <div ng-if="payment_plan.id" class="checkbox clip-check check-danger checkbox-inline">
                        <input type="checkbox" id="delete_checkbox{{$parent.$index}}" ng-model="payment_plan._destroy">
                        <label for="delete_checkbox{{$parent.$index}}">
                          {{'destroy'|translate}}
                        </label>
                      </div>
                  </fieldset>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end: WIZARD STEP 5 -->
          <!-- start: WIZARD STEP 6 -->
          <div id="step-5" ng-if="wizardCtrl.currentStep == 6">
            <div class="row">
              <div class="col-md-12">
                <!-- start: SHARE_WITH_COMPANIES -->
                  <ui-select multiple ng-model="wizardCtrl.property.company_ids"
                          theme="bootstrap" ng-disabled="disabled" close-on-select="false">
                    <ui-select-match placeholder="Select colors...">
                            {{$item.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="option.id as option in wizardCtrl.companiesToBeShared | filter:$select.search">
                            {{option.name}}
                    </ui-select-choices>
                  </ui-select>
                <!-- end: SHARE_WITH_COMPANIES -->
                <!-- start: PROPERTY OPTIONS -->
                <div>
                  <!-- start: PUBLISH/UNPUBLISH -->
                  <!-- <div class="checkbox clip-check check-primary"> -->
                  <div>
                    <label><input type="checkbox" ng-model="wizardCtrl.property.publish"/>Publish</label>
                  </div>
                  <!-- end: PUBLISH/UNPUBLISH -->
                  
                  <!-- start: SAVE AS TEMPLATE -->
                  <div>
                    <label>
                      <input type="checkbox" 
                            ng-model="wizardCtrl.save_as_template"
                            ng-change="wizardCtrl.property.property_as_template_datum_attributes = 
                                        wizardCtrl.save_as_template ? wizardCtrl.property.property_as_template_datum_attributes
                                        : null;" />
                      Save As Template</label>
                    <input type="text" ng-if="wizardCtrl.save_as_template" ng-model="wizardCtrl.property.property_as_template_datum_attributes.name_en" value="template name" />
                    <input type="text" ng-if="wizardCtrl.save_as_template" ng-model="wizardCtrl.property.property_as_template_datum_attributes.name_ar" value="أسم النموذج" /> 
                  </div>
                  <!-- end: SAVE AS TEMPLATE -->
                </div>
                <!-- end: PROPERTY OPTIONS -->
                <button class="btn btn-primary btn-o next-step btn-wide" ng-click="wizardCtrl.form.submit(Form)">Submit</button>
                <div>
                  Queue progress:
                  <div class="progress progress-xs margin-top-5 margin-bottom-20">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': wizardCtrl.imagesUploader.progress + '%' }"></div>
                  </div>
                </div>
                <div class="text-center">
                  <h1 class=" ti-check block text-primary"></h1>
                  <h2 class="StepTitle">Congratulations!</h2>
                  <p class="text-large">
                    Your tutorial is complete.
                  </p>
                  <p class="text-small">
                    Thank you for your registration. Your transaction has been completed, and a receipt for your purchase has been emailed to you. You may log into your account to view details of this transaction.
                  </p>
                  <a class="btn btn-primary btn-o" href ng-click="wizardCtrl.form.goTo(Form, 1)">
                                      Back to first step
                                    </a>
                </div>
              </div>
            </div>
          </div>
          <!-- end: WIZARD STEP 6 -->
          <pre class="code margin-top-20">{{ wizardCtrl.property | json }}</pre>
        </div>
      </form>
      <!-- end: WIZARD FORM -->
    </div>
  </div>
</div>
<!-- start: WIZARD DEMO