<!-- start: DASHBOARD TITLE -->
<section id="page-title" class="">
  <div class="row">
    <div class="col-sm-7">
      <h1 class="mainTitle" translate="dashboard.WELCOME" translate-values="{appName:  '{{ 'dashboard.app.name'|translate}}'  }"></h1>
    </div>
  </div>
</section>
<!-- end: DASHBOARD TITLE -->
<!-- start: FEATURED BOX LINKS -->
<div class="container-fluid container-fullw bg-white">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-white no-radius text-center">
        <div class="panel-body">
          <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-group fa-stack-1x fa-inverse"></i> </span>
          <h3 class="StepTitle">
            {{'dashboard.Manage_Users'|translate}}
          </h3>
          <p class="links cl-effect-1">
            <a ng-click="$state.go('app.users.all')">
              {{'dashboard.view_more'|translate}}
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4" ng-if="currentUser.companyUser()">
      <div class="panel panel-white no-radius text-center">
        <div class="panel-body">
          <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i> </span>
          <h3 class="StepTitle">
            {{'dashboard.Manage_Company'|translate}}
          </h3>
          <p class="links cl-effect-1">
            <a ng-click="$state.go('app.companies.profile', {companyId: {{currentUser.company.id}}})">{{'dashboard.view_more'|translate}}</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4" ng-if="currentUser.companyUser()">
      <div class="panel panel-white no-radius text-center">
        <div class="panel-body">
          <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-home fa-stack-1x fa-inverse"></i> </span>
          <h3 class="StepTitle">
            {{'dashboard.Manage_Property'|translate}}
          </h3>
          <p class="links cl-effect-1">
            <a ng-click="">{{'dashboard.view_more'|translate}}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end: FEATURED BOX LINKS -->