<!-- start: PAGE TITLE -->
<section id="page-title">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="mainTitle" translate="sidebar.nav.pages.USERPROFILE"></h1>
      <!--       <span class="mainDescription">There are many systems which have a need for user profile pages which display personal information on each member.</span> -->
    </div>
    <!-- <div ncy-breadcrumb></div>-->
  </div>
</section>
<!-- end: PAGE TITLE -->
<!-- start: USER PROFILE -->
<div class="container-fluid container-fullw bg-white">
  <div class="row">
    <div class="col-md-12">
      <!-- /// controller:  'UserCtrl' -  localtion: assets/js/controllers/userCtrl.js /// -->
      <div>
        <!-- start: USER TABSET -->
        <tabset class="tabbable">
          <!-- start: TAB OVERVIEW -->
          <tab heading="{{'dashboard.overview' | translate}}" active="userCtrl.overviewActive ">
            <div class="row ">
              <div class="col-md-4 ">
                <div class="user-left ">
                  <div class="center ">
                    <h4>{{userCtrl.user.first_name}} {{userCtrl.user.last_name}}</h4>
                    <div flow-init="{singleFile:true} " flow-object="userCtrl.obj " flow-files-submitted="userCtrl.uploadImage() " flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()] " flow>
                      <div class="user-image ">
                        <div class="thumbnail ">
                          <img src="assets/images/default-user.png " alt=" " ng-if="!userCtrl.obj.files.length && userCtrl.noImage ">
                          <img ng-src="{{userCtrl.user.avatar}} " alt=" " ng-if="!userCtrl.obj.files.length && !userCtrl.noImage ">
                          <img flow-img="userCtrl.obj.files[0] " ng-if="userCtrl.obj.files.length ">
                        </div>
                        <div class="user-image-buttons " ng-if="userCtrl.obj.files.length ">
                          <span class="btn btn-primary " flow-btn><i class="fa fa-pencil "></i></span>
                          <span class="btn btn-danger " ng-click="userCtrl.obj.cancel() "> <i class="fa fa-times "></i> </span>
                        </div>
                        <div class="user-image-buttons " ng-if="!userCtrl.obj.files.length ">
                          <span class="btn btn-primary " flow-btn><i class="fa fa-pencil "></i></span>
                          <span class="btn btn-danger " ng-if="!userCtrl.noImage " ng-click="userCtrl.removeImage() "><i class="fa fa-times "></i></span>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <!-- <div class="social-icons block ">
  <ul>
    <li data-placement="top " data-original-title="Twitter " class="social-twitter tooltips ">
      <a href="# " target="_blank ">
                            Twitter
                          </a>
    </li>
    <li data-placement="top " data-original-title="Facebook " class="social-facebook tooltips ">
      <a href="# " target="_blank ">
                            Facebook
                          </a>
    </li>
    <li data-placement="top " data-original-title="Google " class="social-google tooltips ">
      <a href="# " target="_blank ">
                            Google+
                          </a>
    </li>
    <li data-placement="top " data-original-title="LinkedIn " class="social-linkedin tooltips ">
      <a href="# " target="_blank ">
                            LinkedIn
                          </a>
    </li>
    <li data-placement="top " data-original-title="Github " class="social-github tooltips ">
      <a href="# " target="_blank ">
                            Github
                          </a>
    </li>
  </ul>
</div>
 -->
                    <!-- <hr> -->
                  </div>
                  <table class="table table-condensed ">
                    <thead>
                      <tr>
                        <th colspan="3 ">{{'contact_information' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!--                       <tr>
                        <td>url</td>
                        <td>
                          <a href="# ">
                          {{userCtrl.user.url}}
                        </a></td>
                      </tr> -->
                      <tr>
                        <td>{{'activerecord.attributes.user.email' | translate}}:</td>
                        <td>
                          <a href>
                          {{userCtrl.user.email}}
                        </a></td>
                      </tr>
                      <tr>
                        <td>{{'activerecord.attributes.user.phone' | translate}}:</td>
                        <td>{{userCtrl.user.phone}}</td>
                      </tr>
                      <!--                       <tr>
                        <td>skye</td>
                        <td>
                          <a href>
                          {{userCtrl.user.skype}}
                        </a></td>
                      </tr> -->
                    </tbody>
                  </table>
                  <table class="table table-condensed ">
                    <thead>
                      <tr>
                        <th colspan="3 ">{{'dashboard.general_information' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr>
  <td>Position</td>
  <td>UI Designer</td>
</tr>
 -->
                      <tr>
                        <td>{{'activerecord.attributes.user.last_login_at' | translate}}</td>
                        <td am-time-ago="userCtrl.user.last_login_at "></td>
                      </tr>
                      <!--                       <tr>
                        <td>Position</td>
                        <td>Senior Marketing Manager</td>
                      </tr>
                      <tr>
                        <td>Supervisor</td>
                        <td>
                          <a href="# ">
                          Kenneth Ross
                        </a></td>
                      </tr> -->
                      <tr>
                        <td>{{'activerecord.attributes.user.role' | translate}}</td>
                        <td><span class="label label-sm label-info ">{{'dashboard.roles.'+userCtrl.user.role | translate}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <table class="table table-condensed ">
                    <thead>
                      <tr>
                        <th colspan="3 ">Additional information</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Groups</td>
                        <td>New company web site development, HR Management</td>
                      </tr>
                    </tbody>
                  </table> -->
                  <div class="text-left ">
                    <a class="btn btn-primary btn-o btn-wide " href="# " ng-click="userCtrl.editActive=true ">
                      {{ 'dashboard.edit_account' | translate }}
                    </a>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-8 ">
  <div class="row space20 ">
    <div class="col-sm-3 ">
      <button class="btn btn-icon margin-bottom-5 margin-bottom-5 btn-block ">
        <i class="ti-layers-alt block text-primary text-extra-large margin-bottom-10 "></i> Projects
      </button>
    </div>
    <div class="col-sm-3 ">
      <button class="btn btn-icon margin-bottom-5 btn-block ">
        <i class="ti-comments block text-primary text-extra-large margin-bottom-10 "></i> Messages <span class="badge badge-danger "> 23 </span>
      </button>
    </div>
    <div class="col-sm-3 ">
      <button class="btn btn-icon margin-bottom-5 btn-block ">
        <i class="ti-calendar block text-primary text-extra-large margin-bottom-10 "></i> Calendar
      </button>
    </div>
    <div class="col-sm-3 ">
      <button class="btn btn-icon margin-bottom-5 btn-block ">
        <i class="ti-flag block text-primary text-extra-large margin-bottom-10 "></i> Notifications
      </button>
    </div>
  </div>
  <div class="panel panel-white " id="activities ">
    <div class="panel-heading border-light ">
      <h4 class="panel-title text-primary ">Recent Activities</h4>
      <paneltool class="panel-tools " tool-collapse="tool-collapse " tool-refresh="load1 " tool-dismiss="tool-dismiss "></paneltool>
    </div>
    <div collapse="activities " ng-init="activities=false " class="panel-wrapper ">
      <div class="panel-body ">
        <ul class="timeline-xs ">
          <li class="timeline-item success ">
            <div class="margin-right-15 ">
              <div class="text-muted text-small ">
                2 minutes ago
              </div>
              <p>
                <a class="text-info " href>
                                Steven
                              </a> has completed his account.
              </p>
            </div>
          </li>
          <li class="timeline-item ">
            <div class="margin-right-15 ">
              <div class="text-muted text-small ">
                12:30
              </div>
              <p>
                Staff Meeting
              </p>
            </div>
          </li>
          <li class="timeline-item danger ">
            <div class="margin-right-15 ">
              <div class="text-muted text-small ">
                11:11
              </div>
              <p>
                Completed new layout.
              </p>
            </div>
          </li>
          <li class="timeline-item info ">
            <div class="margin-right-15 ">
              <div class="text-muted text-small ">
                Thu, 12 Jun
              </div>
              <p>
                Contacted
                <a class="text-info " href>
                                Microsoft
                              </a> for license upgrades.
              </p>
            </div>
          </li>
          <li class="timeline-item ">
            <div class="margin-right-15 ">
              <div class="text-muted text-small ">
                Tue, 10 Jun
              </div>
              <p>
                Started development new site
              </p>
            </div>
          </li>
          <li class="timeline-item ">
            <div class="margin-right-15 ">
              <div class="text-muted text-small ">
                Sun, 11 Apr
              </div>
              <p>
                Lunch with
                <a class="text-info " href>
                                Nicole
                              </a> .
              </p>
            </div>
          </li>
          <li class="timeline-item warning ">
            <div class="margin-right-15 ">
              <div class="text-muted text-small ">
                Wed, 25 Mar
              </div>
              <p>
                server Maintenance.
              </p>
            </div>
          </li>
          <li class="timeline-item ">
            <div class="margin-right-15 ">
              <div class="text-muted text-small ">
                Fri, 20 Mar
              </div>
              <p>
                New User Registration
                <a class="text-info " href>
                                more details
                              </a> .
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-white space20 ">
    <div class="panel-heading ">
      <h4 class="panel-title ">Recent Tweets</h4>
    </div>
    <div class="panel-body ">
      <ul class="ltwt ">
        <li class="ltwt_tweet ">
          <p class="ltwt_tweet_text ">
            <a href class="text-info ">
                            @Shakespeare
                          </a> Some are born great, some achieve greatness, and some have greatness thrust upon them.
          </p>
          <span class="block text-light "><i class="fa fa-fw fa-clock-o "></i> 2 minuts ago</span>
        </li>
      </ul>
    </div>
  </div>
</div>
 -->
            </div>
          </tab>
          <!-- end: TAB OVERVIEW -->
          <!-- start: TAB EDIT ACCOUNT -->
          <tab heading="{{'dashboard.overview' | translate}}" active="userCtrl.editActive ">
            <form role="form " id="form ">
              <fieldset>
                <legend>
                  {{'dashboard.account_info' | translate}}
                </legend>
                <div class="row ">
                  <div class="col-md-6 ">
                    <div class="form-group ">
                      <label class="control-label ">
                        {{'activerecord.attributes.user.first_name' | translate}}
                      </label>
                      <input type="text " placeholder="{{ 'activerecord.attributes.user.first_name' | translate}} " class="form-control " name="firstname " ng-model="userCtrl.user.first_name ">
                    </div>
                    <div class="form-group ">
                      <label class="control-label ">
                        {{'activerecord.attributes.user.last_name' | translate}}
                      </label>
                      <input type="text " placeholder="{{ 'activerecord.attributes.user.last_name' | translate}} " class="form-control " name="lastname " ng-model="userCtrl.user.last_name ">
                    </div>
                    <div class="form-group ">
                      <label class="control-label ">
                        {{'activerecord.attributes.user.email' | translate}}
                      </label>
                      <input type="email " placeholder="{{ 'activerecord.attributes.user.email' | translate}} " class="form-control " name="email " ng-model="userCtrl.user.email ">
                    </div>
                    <div class="form-group ">
                      <label class="control-label ">
                        {{'activerecord.attributes.user.phone' | translate}}
                      </label>
                      <input type="text " placeholder="{{ 'activerecord.attributes.user.phone' | translate}} " class="form-control " name="phone " ng-model="userCtrl.user.phone ">
                    </div>
                    <!-- <div class="form-group ">
  <label class="control-label ">
    Url
  </label>
  <input type="text " placeholder="Enter Url " class="form-control " name="url " ng-model="userCtrl.user.url ">
</div>
 -->
                  </div>
                  <div class="col-md-6 ">
                    <!-- <div class="form-group ">
  <label class="block ">
    Gender
  </label>
  <div class="clip-radio radio-primary ">
    <input type="radio " id="us-female " name="gender " value="female " ng-model="userCtrl.user.gender ">
    <label for="us-female ">
      Female
    </label>
    <input type="radio " id="us-male " name="gender " value="male " ng-model="userCtrl.user.gender ">
    <label for="us-male ">
      Male
    </label>
  </div>
</div>
<div class="row ">
  <div class="col-md-4 ">
    <div class="form-group ">
      <label class="control-label ">
        Zip Code
      </label>
      <input class="form-control " placeholder="enter a zip code " type="text " name="zipcode " ng-model="userCtrl.user.zipCode ">
    </div>
  </div>
  <div class="col-md-8 ">
    <div class="form-group ">
      <label class="control-label ">
        City
      </label>
      <input class="form-control " placeholder="enter your city " type="text " name="city " ng-model="userCtrl.user.city ">
    </div>
  </div>
</div>
 -->
                    <div class="form-group ">
                      <label>
                        {{'dashboard.image_upload' | translate}}
                      </label>
                      <div flow-init flow-object="userCtrl.obj " flow-files-submitted="userCtrl.uploadImage() ">
                        <div class="user-image ">
                          <div class="thumbnail margin-bottom-5 ">
                            <img src="assets/images/default-user.png " alt=" " ng-if="!userCtrl.obj.files.length && userCtrl.noImage ">
                            <img ng-src="{{userCtrl.user.avatar}} " alt=" " ng-if="!userCtrl.obj.files.length && !userCtrl.noImage ">
                            <img flow-img="userCtrl.obj.files[0] " ng-if="userCtrl.obj.files.length ">
                          </div>
                        </div>
                        <div class="user-image-buttons-edit " ng-if="userCtrl.obj.files.length ">
                          <span class="btn btn-primary " flow-btn><i class="fa fa-pencil "></i></span>
                          <span class="btn btn-danger " ng-click="userCtrl.obj.cancel() "> <i class="fa fa-times "></i></span>
                        </div>
                        <div class="user-image-buttons-edit " ng-if="!userCtrl.obj.files.length ">
                          <span class="btn btn-primary " flow-btn><i class="fa fa-pencil "></i></span>
                          <span class="btn btn-danger " ng-if="!userCtrl.noImage " ng-click="userCtrl.removeImage() "><i class="fa fa-times "></i> </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <td>
                  <div class="checkbox clip-check check-primary checkbox-inline ">
                    <input type="checkbox " id="checkbox-approve-{{userCtrl.user.id}} " class="form-control " class="w180 " ng-model="userCtrl.user.approved ">
                    <label for="checkbox-approve-{{userCtrl.user.id}} ">
                      {{'activerecord.attributes.user.approved' | translate}}
                    </label>
                  </div>
                  <!-- <input class="form-control " type="text " name="dc " class="w180 " ng-model="p.approved ">-->
                </td>
                <td>
                  <div class="checkbox clip-check check-primary checkbox-inline ">
                    <input type="checkbox " id="checkbox-confim-{{userCtrl.user.id}} " class="form-control " class="w180 " ng-model="userCtrl.user.confirmed ">
                    <label for="checkbox-confim-{{userCtrl.user.id}} ">
                      {{'activerecord.attributes.user.confirmed' | translate}}
                    </label>
                  </div>
                </td>
                <td>
                  <div class="checkbox clip-check check-primary checkbox-inline ">
                    <input type="checkbox " id="checkbox-activ-{{userCtrl.user.id}} " class="form-control " class="w100 " ng-model="userCtrl.user.active ">
                    <label for="checkbox-activ-{{userCtrl.user.id}} ">
                      {{'activerecord.attributes.user.active' | translate}}
                    </label>
                  </div>
                  <!-- <input class="form-control " type="text " name="ln " class="w100 " ng-model="p.active "> -->
                </td>
              </fieldset>
              <!-- <fieldset>
  <legend>
    Additional Info
  </legend>
  <div class="row ">
    <div class="col-md-6 ">
      <div class="form-group ">
        <label class="control-label ">
          Twitter
        </label>
        <span class="input-icon ">
                        <input class="form-control " type="text " placeholder="Twitter " name="twitter " ng-model="userCtrl.user.twitter ">
                        <i class="fa fa-twitter "></i> </span>
      </div>
      <div class="form-group ">
        <label class="control-label ">
          Facebook
        </label>
        <span class="input-icon ">
                        <input class="form-control " type="text " placeholder="Facebook " name="facebook " ng-model="userCtrl.user.facebook ">
                        <i class="fa fa-facebook "></i> </span>
      </div>
      <div class="form-group ">
        <label class="control-label ">
          Google Plus
        </label>
        <span class="input-icon ">
                        <input class="form-control " type="text " placeholder="Google Plus " name="google " ng-model="userCtrl.user.google ">
                        <i class="fa fa-google-plus "></i> </span>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="form-group ">
        <label class="control-label ">
          Github
        </label>
        <span class="input-icon ">
                        <input class="form-control " type="text " placeholder="Github " name="github " ng-model="userCtrl.user.github ">
                        <i class="fa fa-github "></i> </span>
      </div>
      <div class="form-group ">
        <label class="control-label ">
          Linkedin
        </label>
        <span class="input-icon ">
                        <input class="form-control " type="text " placeholder="Linkedin " name="linkedin " ng-model="userCtrl.user.linkedin ">
                        <i class="fa fa-linkedin "></i> </span>
      </div>
      <div class="form-group ">
        <label class="control-label ">
          Skype
        </label>
        <span class="input-icon ">
                        <input class="form-control " type="text " placeholder="Skype " name="skype " ng-model="userCtrl.user.skype ">
                        <i class="fa fa-skype "></i> </span>
      </div>
    </div>
  </div>
</fieldset>
 -->
              <div class="row ">
                <div class="col-md-12 ">
                  <!-- <div>
  Required Fields
  <hr>
</div>
 -->
                </div>
              </div>
              <div class="row ">
                <div class="col-md-8 ">
                </div>
                <div class="col-md-4 ">
                  <button class="btn btn-primary pull-right " ng-click="userCtrl.update() ">
                    {{'dashboard.update' | translate}}
                    <i class="fa fa-arrow-circle-right "></i>
                  </button>
                </div>
              </div>
            </form>
          </tab>
          <!-- end: TAB EDIT ACCOUNT -->
          <!-- start: TAB PROJECTS -->
          <!-- end: TAB PROJECTS -->
        </tabset>
        <!-- end: USER TABSET -->
      </div>
    </div>
  </div>
</div>
<!-- end: USER PROFILE -->
