<alert ng-repeat="alert in usersCtrl.invitationAlerts" type="{{alert.type}}">
  {{alert.msg}}
</alert>
<section id="page-title" class="ng-scope">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="mainTitle">
           {{'dashboard.Manage_Users'|translate}}
      </h1>
    </div>
  </div>
</section>
<div class="container-fluid container-fullw">
  <div class="row margin-bottom-20">
    <div class="col-md-6">
      <input type="text" class="form-control" id="" placeholder="Search Users">
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary btn-squared pull-right" ng-click="usersCtrl.openInviteModal()">
        <i class="ti-plus"></i>
        <span translate="{{'dashboard.invite_user' | translate}}" ></span>
      </button>
     
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table ng-table="tableParams" class="table table-striped table-bordered table-full-width">
        <tbody ng-repeat="p in usersCtrl.users">
          <tr id="tr{{p.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
            <td class="rowTd" data-title="'activerecord.attributes.user.email' | translate" sortable="'fn'">
              {{p.email}}
            </td>
            <td class="rowTd" data-title="'activerecord.attributes.user.role' | translate" sortable="'ph'">
              <span class="label label-sm label-info  ng-binding">
                {{'dashboard.roles.'+ (p.role == 'company_user'? p.company.role: p.role) | translate}}
              </span>
            </td>
            <td class="rowTd" data-title="'activerecord.attributes.user.first_name' | translate" sortable="'ln'">
              {{p.first_name}}
            </td>
            <td class="rowTd" data-title="'activerecord.attributes.user.last_name' | translate" sortable="'dc'">
              {{p.last_name}}
            </td>
            <td class="rowTd" data-title="'activerecord.attributes.user.active' | translate" sortable="'em'">
              {{'dashboard.bools.'+ p.active | translate}}
            </td>
            <td class="rowTd" data-title="'activerecord.attributes.user.phone' | translate" sortable="'id'">
              {{p.phone}}</td>
            <td class="rowTd">
              <div class="margin-right-10" ng-if="currentUser.id == p.id || currentUser.companyAdmin()">
                <input type="button" class="btn btn-primary btn-squared" id="editRowBtn{{p.id}}" value="Edit" ng-click="$state.go('app.users.profile', {edit: true, userId: {{p.id}}})">
                
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>