<div>
  <alert ng-repeat="alert in statusCtrl.statusCreationErrors" type="{{alert.status}}">
    {{alert.msg}}
  </alert>
</div>
<form name="Form" id="form1" novalidate ng-submit="statusCtrl.submitPropertyStatus(Form)">
  <div class="row">
    <div class="col-md-6">
      <fieldset>
        <legend>
          <div translate="helpers.submit.create_new" translate-values="{model:'{{ 'activerecord.models.property_status'|translate}}'}" />
        </legend>
        <div class="form-group" ng-class="{'has-error':Form.NameEn.$dirty && Form.NameEn.$invalid, 'has-success':Form.NameEn.$valid}">
          <label class="control-label">
            {{'activerecord.attributes.property_status.name_en'|translate}} <span class="symbol required"></span>
          </label>
          <input placeholder="{{'activerecord.attributes.property_status.name_en'|translate}}" class="form-control" name="NameEn" ng-model="statusCtrl.propertyStatus.name_en" required />
          <span class="error text-small block" ng-if="Form.NameEn.$dirty && Form.NameEn.$invalid"><div translate="errors.messages.required" translate-values="{attribute:'{{ 'activerecord.attributes.property_status.name_en'|translate}}'}" /></span>
        </div>
        <div class="form-group" ng-class="{'has-error':Form.NameAr.$dirty && Form.NameAr.$invalid, 'has-success':Form.NameAr.$valid}">
          <label class="control-label">
            {{'activerecord.attributes.property_status.name_ar'|translate}} <span class="symbol required"></span>
          </label>
          <input placeholder="{{'activerecord.attributes.property_status.name_ar'|translate}}" class="form-control" name="NameAr" ng-model="statusCtrl.propertyStatus.name_ar" required />
          <span class="error text-small block" ng-if="Form.NameAr.$dirty && Form.NameAr.$invalid"><div translate="errors.messages.required" translate-values="{attribute:'{{ 'activerecord.attributes.property_status.name_ar'|translate}}'}" /></span>
        </div>
        <div class="form-group" ng-class="{'has-error':Form.code.$dirty && Form.code.$invalid, 'has-success':Form.code.$valid}">
          <label class="control-label">
            {{'activerecord.attributes.property_status.code'|translate}} <span class="symbol required"></span>
          </label>
          <input placeholder="{{'activerecord.attributes.property_status.code'|translate}}" class="form-control" name="code" ng-model="statusCtrl.propertyStatus.code" required>
          <span class="error text-small block" ng-if="Form.code.$dirty && Form.code.$error.required" translate="errors.messages.required" translate-values="{attribute:'{{ 'activerecord.attributes.property_status.code'|translate}}'}"> .</span>
          <!--           <span class="error text-small block" ng-if="Form.code.$error.email" translate="errors.messages.invalid" translate-values="{attribute:'{{ 'activerecord.attributes.property_status.code'|translate}}'}">.</span> -->
          <!-- <span class="success text-small" ng-if="Form.code.$valid">It's a valid e-mail!</span> -->
        </div>
        <div class="form-group" ng-class="{'has-error':Form.state.$dirty && Form.state.$invalid, 'has-success':Form.state.$valid}">
          <label class="control-label">
            {{'activerecord.attributes.property_status.value_status'|translate}} <span class="symbol required"></span>
          </label>
          <ui-select ng-model="statusCtrl.propertyStatus.state" theme="bootstrap" name="state" required>
            <ui-select-match placeholder="{{'dashboard.select_list' | translate}}">
              {{'dashboard.recored_states.'+ $select.selected | translate}}
            </ui-select-match>
            <ui-select-choices repeat="item in statusCtrl.stateOptions | filter: $select.search">
              <div ng-bind-html="('dashboard.recored_states.'+item | translate)| highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="form-group">
          <div class="pull-right">
            <button type="submit" class="btn btn-primary btn-squared">
              <div ng-if="!(statusCtrl.propertyStatus.id)" translate="helpers.submit.create"/>
              <!-- translate-values="{model:'{{ 'activerecord.models.property_status'|translate}}'}"  -->
              <div ng-if="statusCtrl.propertyStatus.id" translate="helpers.submit.update"/>
              <!-- translate-values="{model:'{{ 'activerecord.models.property_status'|translate}}'}" -->
            </button>
            <button type="button" ng-click="statusCtrl.dismiss()" class="btn btn-danger btn-squared">
              <div translate="dashboard.cancel" />
            </button>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</form>
