<!-- start: DASHBOARD TITLE -->
<section id="page-title" class="padding-top-15 padding-bottom-15">
  <div class="row">
    <div class="col-sm-7">
      <h1 class="mainTitle" translate="dashboard.WELCOME" translate-values="{appName:  '{{ 'app.name'|translate}}'  }"></h1>
      <span class="mainDescription">{{'dashboard.overview'|translate}} &amp; {{'dashboard.stats'|translate}} </span>
    </div>
    <div class="col-sm-5">
      <!-- start: MINI STATS WITH SPARKLINE {{ 'app.name' | translate}} -->
      <!-- end: MINI STATS WITH SPARKLINE -->
    </div>
  </div>
</section>
<!-- end: DASHBOARD TITLE -->
<!-- start: FEATURED BOX LINKS -->
<div class="container-fluid container-fullw bg-white">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-white no-radius text-center">
        <div class="panel-body">
          <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-smile-o fa-stack-1x fa-inverse"></i> </span>
          <h2 class="StepTitle">{{'dashboard.Manage_Users'|translate}}</h2>
          <p class="text-small">
            {{'dashboard.add_user'|translate}}.
          </p>
          <p class="links cl-effect-1">
            <a ng-click="$state.go('app.users.all')">
              {{'dashboard.view_more'|translate}}
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-4">
  <div class="panel panel-white no-radius text-center">
    <div class="panel-body">
      <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-paperclip fa-stack-1x fa-inverse"></i> </span>
      <h2 class="StepTitle">Manage Orders</h2>
      <p class="text-small">
        The Manage Orders tool provides a view of all your orders.
      </p>
      <p class="cl-effect-1">
        <a href>view more</a>
      </p>
    </div>
  </div>
</div>
 -->
    <div class="col-sm-4" ng-if="currentUser.companyUser()">
      <div class="panel panel-white no-radius text-center">
        <div class="panel-body">
          <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
          <h2 class="StepTitle">{{'dashboard.Manage_Company'|translate}}</h2>
          <p class="text-small">
            {{'dashboard.Store_modify'|translate}}.
          </p>
          <p class="links cl-effect-1">
            <a ng-click="$state.go('app.companies.profile', {companyId: {{currentUser.company.id}}})">{{'dashboard.view_more'|translate}}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end: FEATURED BOX LINKS -->
<!-- start: FIRST SECTION -->
<!-- end: FIRST SECTION -->
<!-- start: SECOND SECTION -->
<!-- end: SECOND SECTION -->
<!-- start: THIRD SECTION -->
<!-- end: THIRD SECTION -->
<!-- start: FOURTH SECTION -->
<!-- end: FOURTH SECTION -->
