<script src="/assets/app.realestate/controllers/showProperty.controller.js"></script>

<div ng-controller="ShowPropertyController as ShowPropertyCtrl" ng-init="ShwPropCtrl.property = <%= render partial: 'properties/property.json.jbuilder', locals: {property: @property}%>">
   <!-- {{ShwPropCtrl.property}} -->

   <% if !current_user.nil? %>
   <% if !@property.users.include?(current_user) %>
   <div ng-init="ShwPropCtrl.isLiked = false"/>
   <% else %>
   <div ng-init="ShwPropCtrl.isLiked = true"/>
   <% end %>
    <button type="submit"  ng-click="ShowPropertyCtrl.ToggleFavorite(ShwPropCtrl.property.id)">{{btnTxt}}</button>
   <% end %>

  

   <div id="content">
      <!-- {{ShowPropertyCtrl.test}} -->
      <div id="carousel-example-generic"  class="  carousel slide cover overlay overflow-hidden margin-bottom-none " data-ride="carousel" >
         <div class="  carousel-inner" role="listbox">
            <div ng-if="ShwPropCtrl.property.avatar" class="item active">
               <img ng-src="{{ShwPropCtrl.property.avatar}}" class="width-100pc" >
            </div>
            <!-- first image must have class active -->
            <div ng-if="!ShwPropCtrl.property.avatar"  class="item active">
               <img src="/images/photodune-186709-residential-street-m.jpg"  class="width-100pc" > 
            </div>
            <div ng-repeat="img in ShwPropCtrl.property.images" ng-if="$index > 0" class="item">
               <img ng-src="{{img.avatar}}" class="width-100pc" >
            </div>
            <!-- first image must have class active -->
         </div>
         <div class=" overlay overlay-bg-black overlay-full-xs" style="padding: 0px">
            <div class="v-bottom v-top-xs">
               <div class="container">
                  <div class="page-section">
                     <h1 class="text-h1 text-overlay">{{ShwPropCtrl.property.address}}</h1>
                  </div>
               </div>
            </div>
         </div>
         <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
      </div>
      <div class="property-meta">
         <ul>
            <li class="property-meta-item">
               <h4>Type: {{ShwPropCtrl.property.type.name}}</h4>
            </li>
            <li class="property-meta-item">
               <h4>Status: {{ShwPropCtrl.property.status.name}}</h4>
            </li>
            <li class="property-meta-item">
               <h4>State: {{ShwPropCtrl.property.state.name}}</h4>
            </li>
         </ul>
      </div>
      <div class="container" style="margin: 5%">
         <h3>Features</h3>
         <div class="row" ng-repeat="d in ShwPropCtrl.property.property_detail_instances">
            <div class="col-sm-4">
               <h4><strong>{{d.property_detail.name}}</strong></h4>
            </div>
            <div class="col-sm-8">
               <h4>{{d.value}}</h4>
            </div>
         </div>
      </div>
   </div>
</div>