<div class="container-fluid container-fullw">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <button class="btn btn-wide btn-primary" ng-click="serviceTypesCtrl.create()">
          <i class="ti-plus"></i>
          <span translate="helpers.submit.create_new" translate-values="{model:'{{ 'activerecord.models.property_serviceType'|translate}}'}" />
        </button>
        <!-- start: TABLE WITH FILTERS -->
        <div class="col-md-12">
          <div>
            <!-- <strong>Filter:</strong> {{tableParams.filter()|json}} -->
            <table ng-table="tableParams" show-filter="true" class="table table-striped">
              <tr ng-repeat="property in listCtrl.properties">
                <!--<td data-title="'activerecord.attributes.property_serviceType.name' | translate " filter="{ 'name': 'text' }"> {{propertyServiceType.name}} </td>-->
                <!--<td data-title="'activerecord.attributes.property_serviceType.code' | translate ">{{propertyServiceType.code}} </td>-->
                <td class="rowTd">
                  <div onLoad="property=property" ng-include src="'assets/app.dashboard/pages/property/property_list/property_list_item.html'"></div>
                  <div class="pull-right margin-right-10">
                    <input type="button" class="btn btn-primary btn-o btn-sm" id="editRowBtn{{p.id}}" value="edit" 
                    ng-click="$state.go('^.edit', { 'propertyId': property.id })">
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <!-- end: TABLE WITH FILTERS -->
      </div>
    </div>
  </div>
</div>
