<!-- start: PAGE TITLE -->
<!-- end: PAGE TITLE -->
<!-- start: WIZARD DEMO -->
<div class="container-fluid container-fullw bg-white">
  <div class="row">
    <div class="col-md-12">
      <h5 class="over-title margin-bottom-15">Wizard <span class="text-bold">demo</span></h5>
      <p>
        Some textboxes in this example is required.
      </p>
      <!-- start: WIZARD FORM -->
      <form name="Form" id="form" novalidate>
        <div id="wizard" class="swMain">
          <!-- start: WIZARD SEPS -->
          <ul>
            <li ng-click="wizardCtrl.form.goTo(Form, 1)">
              <a href ng-class="{'selected' : wizardCtrl.currentStep >= 1, 'done' : wizardCtrl.currentStep > 1}">
                <div class="stepNumber">
                  1
                </div>
                <span class="stepDesc text-small"> Personal Information </span>
              </a>
            </li>
            <li ng-click="wizardCtrl.form.goTo(Form, 2)">
              <a href ng-class="{'selected' : wizardCtrl.currentStep >= 2, 'done' : wizardCtrl.currentStep > 2}">
                <div class="stepNumber">
                  2
                </div>
                <span class="stepDesc text-small"> Details </span>
              </a>
            </li>
            <li ng-click="wizardCtrl.form.goTo(Form, 3)">
              <a href ng-class="{'selected' : wizardCtrl.currentStep >= 3, 'done' : wizardCtrl.currentStep > 3}">
                <div class="stepNumber">
                  3
                </div>
                <span class="stepDesc text-small"> Images </span>
              </a>
            </li>
            <li ng-click="wizardCtrl.form.goTo(Form, 4)">
              <a href ng-class="{'selected' : wizardCtrl.currentStep >= 4, 'done' : wizardCtrl.currentStep > 4}">
                <div class="stepNumber">
                  4
                </div>
                <span class="stepDesc text-small"> Location </span>
              </a>
            </li>
            <li ng-click="wizardCtrl.form.goTo(Form, 5)">
              <a href ng-class="{'selected' : wizardCtrl.currentStep >= 5, 'done' : wizardCtrl.currentStep > 5}">
                <div class="stepNumber">
                  5
                </div>
                <span class="stepDesc text-small"> Complete </span>
              </a>
            </li>
          </ul>
          <!-- end: WIZARD SEPS -->
          <!-- start: WIZARD STEP 1 -->
          <div id="step-1" ng-if="wizardCtrl.currentStep == 1">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-6">
                  <div class="padding-30">
                    <h2 class="StepTitle"> Choose property type</h2>
                    <div class="form-group" ng-class="{'has-error':Form.service_type.$dirty && Form.service_type.$invalid, 'has-success':Form.service_type.$valid}">
                      <label class="control-label">
                        {{'activerecord.models.property_type'|translate}} <span class="symbol required"></span>
                      </label>
                      <ui-select ng-model="wizardCtrl.property.type" theme="bootstrap" name="service_type" required>
                        <ui-select-match placeholder="{{'dashboard.select_list' | translate}}">
                          {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in wizardCtrl.propertyTypes | filter: $select.search">
                          <div ng-bind-html="item.name | highlight: $select.search"></div>
                          <small ng-bind-html="item.code | highlight: $select.search"></small>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="padding-30">
                    <h2 class="StepTitle"> Choose service type</h2>
                    <div class="form-group" ng-class="{'has-error':Form.type.$dirty && Form.type.$invalid, 'has-success':Form.type.$valid}">
                      <label class="control-label">
                        {{'activerecord.models.property_service_type'|translate}} <span class="symbol required"></span>
                      </label>
                      <ui-select ng-model="wizardCtrl.property.service_type" theme="bootstrap" name="type">
                        <ui-select-match placeholder="{{'dashboard.select_list' | translate}}">
                          {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="item in wizardCtrl.serviceTypes | filter: $select.search">
                          <div ng-bind-html="item.name | highlight: $select.search"></div>
                          <small ng-bind-html="item.code | highlight: $select.search"></small>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-o back-step btn-wide pull-right" ng-click="wizardCtrl.form.prev(Form)">
                        <i class="fa fa-circle-arrow-right"></i> Back
                      </button>
                  <button class="btn btn-primary btn-o next-step btn-wide pull-left" ng-click="wizardCtrl.form.next(Form)">
                        Next <i class="fa fa-arrow-circle-left"></i>
                      </button>
                </div>
              </div>
            </div>
          </div>
          <!-- end: WIZARD STEP 1 -->
          <!-- start: WIZARD STEP 2 -->
          <div id="step-2" ng-if="wizardCtrl.currentStep == 2">
            <div class="row">
              <div class="col-md-6">
                <fieldset>
                  <legend>
                    Account Credential
                  </legend>
                  <!--start: old Property detail instances-->
                  <div ng-repeat="(catId, detail_instances) in wizardCtrl.property.property_detail_instances_attributes | groupBy: 'category_id'">
                    {{ wizardCtrl.propertyDetailCategories[catId].name }}
                    <div ng-repeat="detail_instance in detail_instances">
                      <span ng-if="detail_instance.removed" class="input-group-btn">
                        <div class="checkbox clip-check check-danger">
                          <input ng-model="detail_instance._destroy" type="checkbox" id="remove_instance_{{$index}}" value="1">
                          <label for="remove_instance_{{$index}}">
                            remove instance
                          </label>
                        </div>
                      </span>
                      <span ng-if="detail_instance.new &&  wizardCtrl.property.id" class="input-group-btn">
                          <div class="checkbox clip-check check-success">
                          <input ng-model="true" type="checkbox" id="remove_instance_{{$index}}" value="1">
                          <label for="remove_instance_{{$index}}">
                            new detail
                          </label>
                        </div>
                      </span>
                      <div class="form-group" ng-class="{'has-error': detail_instance.removed}">
                        <label class="control-label">
                        {{wizardCtrl.propertyDetails[detail_instance.property_detail_id].name}}
                        </label>
                        <!-- start: value_type == 'string' -->
                        <input ng-if="wizardCtrl.propertyDetails[detail_instance.property_detail_id].value_type == 'string'" ng-model="wizardCtrl.property.property_detail_instances_attributes[$index].value"
                          placeholder="{{detail.name}}" class="form-control" name="{{detail.code}}">
                        <!-- end: value_type == 'string' -->

                        <!-- start: value_type == 'text' -->
                        <textarea ng-if="wizardCtrl.propertyDetails[detail_instance.property_detail_id].value_type == 'text'" ng-model="wizardCtrl.property.property_detail_instances_attributes[$index].value"
                          placeholder="Default Text" id="form-field-22" class="form-control"></textarea>
                        <!-- end: value_type == 'text' -->

                        <!-- start: value_type == 'select' -->
                        <ui-select ng-if="wizardCtrl.propertyDetails[detail_instance.property_detail_id].value_type == 'select'" ng-model="wizardCtrl.property.property_detail_instances_attributes[$index].property_detail_value_option_ids[0]"
                          theme="bootstrap">
                          <ui-select-match placeholder="Select in the list...">
                            {{$select.selected.name}}
                          </ui-select-match>
                          <ui-select-choices repeat="option.id as option in wizardCtrl.propertyDetails[detail_instance.property_detail_id].property_detail_value_options_attributes | filter:$select.search">
                            <div ng-bind-html="option.name | highlight: $select.search"></div>
                          </ui-select-choices>
                        </ui-select>
                        <!-- end: value_type == 'select' -->
                        <!-- start: value_type == 'multi_select' -->
                        <ui-select ng-if="wizardCtrl.propertyDetails[detail_instance.property_detail_id].value_type == 'multi_select'" multiple ng-model="wizardCtrl.property.property_detail_instances_attributes[$index].property_detail_value_option_ids"
                          theme="bootstrap" ng-disabled="disabled" close-on-select="false">
                          <ui-select-match placeholder="Select colors...">
                            {{$item.name}}
                          </ui-select-match>
                          <ui-select-choices repeat="option.id as option in wizardCtrl.propertyDetails[detail_instance.property_detail_id].property_detail_value_options_attributes | filter:$select.search">
                            {{option.name}}
                          </ui-select-choices>
                        </ui-select>
                        <!-- end: value_type == 'multi_select' -->
                        <!-- start: value_type == 'bool' -->
                        <input ng-if="wizardCtrl.propertyDetails[detail_instance.property_detail_id].value_type == 'bool'" ng-model="wizardCtrl.property.property_detail_instances_attributes[$index].value"
                          type="checkbox" id="checkbox1">
                        <!-- end: value_type == 'bool'-->
                      </div>
                    </div>
                  </div>
                  <!--end: old Property detail instances-->
                </fieldset>
                <div class="form-group">
                  <button class="btn btn-primary btn-o back-step btn-wide pull-right" ng-click="wizardCtrl.form.prev(Form)">
                    <i class="fa fa-circle-arrow-right"></i> Back
                  </button>
                  <button class="btn btn-primary btn-o next-step btn-wide pull-left" ng-click="wizardCtrl.form.next(Form)">
                    Next <i class="fa fa-arrow-circle-left"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-6">
                <fieldset>
                  <legend>
                    Account Credential
                  </legend>
                  <ui-select ng-model="wizardCtrl.property.state" theme="bootstrap">
                    <ui-select-match placeholder="Select in the list...">
                      {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="item in wizardCtrl.states | filter: $select.search">
                      <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                  <ui-select ng-model="wizardCtrl.property.status" theme="bootstrap">
                    <ui-select-match placeholder="Select in the list...">
                      {{$select.selected.name}}
                    </ui-select-match>
                    <ui-select-choices repeat="item in wizardCtrl.statuses | filter: $select.search">
                      <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </fieldset>
              </div>
            </div>
          </div>
          <!-- end: WIZARD STEP 2-->
          <!-- start: WIZARD STEP 3 -->
          <div id="step-3" ng-if="wizardCtrl.currentStep == 3">

            <!-- start: UPLOADS ONLY IMAGES -->
            <div class="container-fluid container-fullw bg-white">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="over-title margin-bottom-15">Uploads <span class="text-bold">only images</span></h5>
                  <p>
                    with canvas preview
                  </p>
                  <!-- /// controller:  'UploadCtrl' -  localtion: assets/js/controllers/uploadCtrl.js /// -->
                  <div nv-file-drop="" uploader="wizardCtrl.uploaderImages">
                    <div class="row">
                      <div class="col-md-3">
                        <h5>Select files</h5>
                        <div class="panel panel-white">
                          <div class="panel-body">
                            <div ng-show="wizardCtrl.uploaderImages.isHTML5">
                              <!-- 3. nv-file-over uploader="link" over-class="className" -->
                              <div class="well my-drop-zone" nv-file-over="" uploader="wizardCtrl.uploaderImages">
                                Base drop zone
                              </div>
                            </div>
                            <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                            <span class="btn btn-primary btn-o btn-file"> Select an image file
                              <input type="file" nv-file-select="" uploader="wizardCtrl.uploaderImages" multiple />
                            </span>
                            <br/>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-9 file-upload" style="margin-bottom: 40px">
                        <h4>The queue</h4>
                        <p>
                          Queue length: {{ wizardCtrl.uploaderImages.queue.length }}
                        </p>
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th width="50%">Name</th>
                                <th ng-show="wizardCtrl.uploaderImages.isHTML5">Size</th>
                                <th ng-show="wizardCtrl.uploaderImages.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="item in wizardCtrl.uploaderImages.queue">
                                <td><strong>{{ item.file.name }}</strong>
                                  <!-- Image preview -->
                                  <!--auto height-->
                                  <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                  <!--auto width-->
                                  <div ng-show="wizardCtrl.uploaderImages.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                  <!--fixed width and height -->
                                  <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                </td>
                                <td ng-show="wizardCtrl.uploaderImages.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="wizardCtrl.uploaderImages.isHTML5">
                                  <div class="progress progress-xs margin-bottom-0">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                  </div>
                                </td>
                                <td class="text-center"><span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span><span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                  <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                  <!--<button type="button" class="btn btn-primary btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                  <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                                  <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                  <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                </button>-->
                                  <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                  <span class="glyphicon glyphicon-trash"></span> Remove
                                </button></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div>
                          <!--<button type="button" class="btn btn-primary btn-s" ng-click="wizardCtrl.uploaderImages.uploadAll()" ng-disabled="!wizardCtrl.uploaderImages.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                          </button>
                          <button type="button" class="btn btn-primary btn-o btn-s" ng-click="wizardCtrl.uploaderImages.cancelAll()" ng-disabled="!wizardCtrl.uploaderImages.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                          </button>-->
                          <button type="button" class="btn btn-primary btn-o btn-s" ng-click="wizardCtrl.uploaderImages.clearQueue()" ng-disabled="!wizardCtrl.uploaderImages.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary btn-o back-step btn-wide pull-right" ng-click="wizardCtrl.form.prev(Form)">
                      <i class="fa fa-circle-arrow-right"></i> Back
                    </button>
                    <button class="btn btn-primary btn-o next-step btn-wide pull-left" ng-click="wizardCtrl.form.next(Form)">
                      Next <i class="fa fa-arrow-circle-left"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end: UPLOADS ONLY IMAGES -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th width="50%">Name</th>
                    <th ng-show="wizardCtrl.uploaderImages.isHTML5">Size</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in wizardCtrl.property.images">
                    <td><strong>{{ item.avatar}}</strong>
                      <!-- Image preview -->
                      <!--auto width-->
                      <img ng-src="{{item.avatar}}" alt="property" height="100" class="media-object">
                    </td>
                    <td ng-show="wizardCtrl.uploaderImages.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>

                    <td nowrap>
                      <button type="button" class="btn btn-warning btn-xs" ng-click="wizardCtrl.property.deleted_images_ids.splice(wizardCtrl.property.deleted_images_ids.indexOf(item.id), 1)"
                        ng-disabled="!wizardCtrl.property.deleted_images_ids.includes(item.id)">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                      </button>
                      <button type="button" class="btn btn-danger btn-xs" ng-click="wizardCtrl.property.deleted_images_ids.push(item.id)" ng-disabled="wizardCtrl.property.deleted_images_ids.includes(item.id)">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                      </button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end: WIZARD STEP 3 -->

          <!-- start: WIZARD STEP 4 -->
          <div id="step-4" ng-if="wizardCtrl.currentStep == 4">
            <div class="row">
              <div class="col-md-12">
                <!--start: Map-->
                <map on-center_changed="wizardCtrl.form.map.centerChanged()" zoom="20" map-type-id="MapTypeId.ROADMAP">
                  <marker position="{{[wizardCtrl.property.lat, wizardCtrl.property.lng]}}" 
                  centered="true" draggable="true"></marker>
                  <custom-control id="go-home" position="TOP_RIGHT" index="1" 
                  on-click="wizardCtrl.form.map.goCurrentLocation()">
                    <a href class="btn btn-primary btn-xs margin-top-15 margin-right-5">
                      goCurrentLocation
                    </a>
                  </custom-control>
                </map>
                <div class="col-md-6">
                  <fieldset>
                    <legend>
                      Location
                    </legend>
                    <div class="form-group">
                      <label>country</label>
                      <select class="cs-select cs-skin-slide" name="country" ng-model="wizardCtrl.property.country">
                        <option value="" disabled>country</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>city</label>
                      <select class="cs-select cs-skin-slide" name="country" ng-model="wizardCtrl.property.city">
                        <option value="" disabled>city</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>area</label>
                      <select class="cs-select cs-skin-slide" name="country" ng-model="wizardCtrl.property.area">
                        <option value="" disabled>area</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                      </select>
                    </div>
                  </fieldset>
                </div>
                <div class="col-md-6">
                  <fieldset>
                    <legend>
                      Address
                    </legend>
                    <div class="form-group">
                      <label>street</label>
                      <input type="number" class="form-control" name="street" ng-model="wizardCtrl.property.street">
                    </div>
                    <div class="form-group">
                      <label>number</label>
                      <input type="number" class="form-control" name="number" ng-model="wizardCtrl.property.number">
                    </div>
                    <div class="form-group">
                      <label>floor</label>
                      <input type="number" class="form-control" name="floor" ng-model="wizardCtrl.property.floor">
                    </div>
                    <div class="form-group">
                      <label>notes</label>
                      <textarea type="text" class="form-control" name="notes" ng-model="wizardCtrl.property.address">

                      </textarea>
                    </div>
                  </fieldset>
                </div>
                <!--end: Map-->
                <div class="form-group">
                  <button class="btn btn-primary btn-o back-step btn-wide pull-right" ng-click="wizardCtrl.form.prev(Form)">
                      <i class="fa fa-circle-arrow-right"></i> Back
                    </button>
                  <button class="btn btn-primary btn-o next-step btn-wide pull-left" ng-click="wizardCtrl.form.next(Form)">
                      Next <i class="fa fa-arrow-circle-left"></i>
                    </button>
                </div>
              </div>
            </div>
          </div>
          <!-- end: WIZARD STEP 4 -->

          <!-- start: WIZARD STEP 5 -->
          <div id="step-5" ng-if="wizardCtrl.currentStep == 5">
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary btn-o next-step btn-wide" ng-click="wizardCtrl.form.submit(Form)">Submit</button>
                <div>
                  Queue progress:
                  <div class="progress progress-xs margin-top-5 margin-bottom-20">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': wizardCtrl.uploaderImages.progress + '%' }"></div>
                  </div>
                </div>
                <div class="text-center">
                  <h1 class=" ti-check block text-primary"></h1>
                  <h2 class="StepTitle">Congratulations!</h2>
                  <p class="text-large">
                    Your tutorial is complete.
                  </p>
                  <p class="text-small">
                    Thank you for your registration. Your transaction has been completed, and a receipt for your purchase has been emailed to
                    you. You may log into your account to view details of this transaction.
                  </p>
                  <a class="btn btn-primary btn-o" href ng-click="wizardCtrl.form.goTo(Form, 1)">
                  Back to first step
                </a>
                </div>
              </div>
            </div>
          </div>
          <!-- end: WIZARD STEP 5 -->

          <pre class="code margin-top-20">{{ wizardCtrl.property | json }}</pre>


        </div>
      </form>
      <!-- end: WIZARD FORM -->
    </div>
  </div>
</div>
<!-- start: WIZARD DEMO -->