<section id="page-title" class="ng-scope">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">
              Property Details
            </h1>
        </div>
    </div>
</section>
<div class="container-fluid container-fullw">
    <div class="row margin-bottom-20">
        <div class="col-md-6">
            <input type="text" class="form-control" id="" placeholder="Search detial Category">
        </div>
        <div class="col-md-6">
            <button class="btn btn-wide btn-primary pull-right btn-squared" ng-click="serviceTypesCtrl.create()">
                <i class="ti-plus"></i>
                <span translate="helpers.submit.create_new" translate-values="{model:'{{ 'activerecord.models.property_serviceType'|translate}}'}" />
            </button>
        </div>
    </div>
    <div class="row">
        <!-- start: TABLE WITH FILTERS -->
        <div class="col-md-12">
            <!-- <strong>Filter:</strong> {{tableParams.filter()|json}} -->
            <table ng-table="tableParams" class="table table-striped table-bordered table-full-width">
                <tr ng-repeat="propertyServiceType in serviceTypesCtrl.serviceTypesList">
                    <td data-title="'activerecord.attributes.property_serviceType.name' | translate " filter="{ 'name': 'text' }"> {{propertyServiceType.name}} </td>
                    <td data-title="'activerecord.attributes.property_serviceType.code' | translate ">{{propertyServiceType.code}} </td>
                    <td class="rowTd">
                        <div class="pull-right margin-right-10">
                            <input type="button" class="btn btn-primary btn-squared" id="editRowBtn{{p.id}}" value="Edit" ng-click="serviceTypesCtrl.edit($index)">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!-- end: TABLE WITH FILTERS -->
    </div>
</div>