<div>
    <alert ng-repeat="alert in paymentCtrl.stateCreationErrors" type="{{alert.state}}">
        {{alert.msg}}
    </alert>
</div>
<form name="Form" id="form1" novalidate ng-submit="paymentCtrl.submitPayment(Form)">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>
                    <div translate="helpers.submit.create_new" translate-values="{model:'{{ 'activerecord.models.payment'|translate}}'}" />
                </legend>
                <div class="form-group" ng-class="{'has-error':Form.lastName.$dirty && Form.lastName.$invalid, 'has-success':Form.lastName.$valid}">
                    <label class="control-label">
                            {{'activerecord.attributes.person.first_name'|translate}} <span class="symbol required"></span>
                        </label>
                    <input type="text" placeholder="{{'activerecord.attributes.person.first_name'|translate}}" class="form-control" name="lastName"
                        ng-model="paymentCtrl.payment.person_attributes.first_name" required />
                    <span class="error text-small block" ng-if="Form.lastName.$dirty && Form.lastName.$invalid"><div translate="errors.messages.required" translate-values="{attribute:'{{ 'activerecord.attributes.person.first_name'|translate}}'}" /></span>
                </div>
                <div class="form-group" ng-class="{'has-error':Form.firstName.$dirty && Form.firstName.$invalid, 'has-success':Form.firstName.$valid}">
                    <label class="control-label">
                            {{'activerecord.attributes.person.last_name'|translate}} <span class="symbol required"></span>
                        </label>
                    <input type="text" placeholder="{{'activerecord.attributes.person.last_name'|translate}}" class="form-control" name="firstName"
                        ng-model="paymentCtrl.payment.person_attributes.last_name" required />
                    <span class="error text-small block" ng-if="Form.firstName.$dirty && Form.firstName.$invalid"><div translate="errors.messages.required" translate-values="{attribute:'{{ 'activerecord.attributes.person.last_name'|translate}}'}" /></span>
                </div>
                <div class="form-group" ng-class="{'has-error':Form.ssn.$dirty && Form.ssn.$invalid, 'has-success':Form.ssn.$valid}">
                    <label class="control-label">
                            {{'activerecord.attributes.person.ssn'|translate}} <span class="symbol required"></span>
                        </label>
                    <input placeholder="{{'activerecord.attributes.person.ssn'|translate}}" class="form-control" name="ssn" ng-model="paymentCtrl.payment.person_attributes.ssn"
                        required>
                    <span class="error text-small block" ng-if="Form.ssn.$dirty && Form.ssn.$error.required" translate="errors.messages.required"
                        translate-values="{attribute:'{{ 'activerecord.attributes.person.ssn'|translate}}'}"> .</span>
                    <span class="error text-small block" ng-if="Form.ssn.$error.email" translate="errors.messages.invalid" translate-values="{attribute:'{{ 'activerecord.attributes.person.ssn'|translate}}'}">.</span>
                    <span class="success text-small" ng-if="Form.ssn.$valid">It's a valid e-mail!</span>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">
                            <div ng-if="!(paymentCtrl.payment.id)" translate="helpers.submit.create" translate-values="{model:'{{ 'activerecord.models.payment'|translate}}'}" />
                            <div ng-if="paymentCtrl.payment.id" translate="helpers.submit.update" translate-values="{model:'{{ 'activerecord.models.payment'|translate}}'}" />
                        </button>
                        <button type="button" ng-click="paymentCtrl.dismiss()" class="btn btn-o btn-primary">
                            <div translate="dashboard.cancel" />
                        </button>
                    </div>
                </div>
            </fieldset>
            <!--<fieldset>
                    <legend>
                        <div translate="helpers.submit.create_new" translate-values="{model:'{{ 'activerecord.models.payment'|translate}}'}" />
                    </legend>
                    
                </fieldset>-->
            <pre class="code margin-top-20">{{ paymentCtrl | json }}</pre>
        </div>
    </div>
</form>