<!-- start: SEARCH FORM -->
<!-- end: SEARCH FORM -->
<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
  <span translate="sidebar.heading.NAVIGATION"></span>
</div>
<ul class="main-navigation-menu">
  <li ui-sref-active="active">
    <a ui-sref="app.dashboard">
      <div class="item-content">
        <div class="item-media">
          <i class="ti-home"></i>
        </div>
        <div class="item-inner">
          <span class="title" translate="sidebar.nav.dashboard.MAIN"> Dashboard </span>
        </div>
      </div>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.users.all">
      <div class="item-content">
        <div class="item-media">
          <i class="ti-pie-chart"></i>
        </div>
        <div class="item-inner">
          <span class="title" translate="sidebar.nav.user.MAIN"></span>
        </div>
      </div>
    </a>
  </li>
  <li ui-sref-active="active" ng-if="currentUser.companyUser()">
    <a ui-sref="app.companies.profile({companyId: currentUser.company.id})">
      <div class="item-content">
        <div class="item-media">
          <i class="ti-pie-chart"></i>
        </div>
        <div class="item-inner">
          <span class="title" translate="sidebar.nav.company.MAIN"></span>
        </div>
      </div>
    </a>
  </li>
  <li ng-class="{'active open':$state.includes('app.property')}">
    <a href="javascript:void(0)">
      <div class="item-content">
        <div class="item-media">
          <i class="ti-settings"></i>
        </div>
        <div class="item-inner">
          <span class="title" translate="sidebar.nav.property.MAIN"></span><i class="icon-arrow"></i>
        </div>
      </div>
    </a>
    <ul class="sub-menu">
      <li ui-sref-active="active">
        <a ui-sref="app.property.create">
          <span class="title" translate="sidebar.nav.property.CREATE"></span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.property.list">
          <span class="title" translate="sidebar.nav.property.LIST"></span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.property.details">
          <span class="title" translate="sidebar.nav.property.DETAIL"></span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.property.types">
          <span class="title" translate="sidebar.nav.property.TYPE"></span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.property.statuses">
          <span class="title" translate="sidebar.nav.property.STATUS"></span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.property.states">
          <span class="title" translate="sidebar.nav.property.STATE"></span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.property.service_types">
          <span class="title" translate="sidebar.nav.property.SERVICE_TYPE"></span>
        </a>
      </li>
    </ul>
  </li>
</ul>
<!-- end: MAIN NAVIGATION MENU -->
<!-- start: CORE FEATURES -->
<!-- <div class="navbar-title">
  <span translate="sidebar.heading.FEATURES">Core Features</span>
</div>
<ul class="folders">
  <li>
    <a ui-sref="app.pages.calendar">
      <div class="item-content">
        <div class="item-media">
          <span class="fa-stack"> <i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
        </div>
        <div class="item-inner">
          <span class="title" translate="sidebar.nav.pages.CALENDAR"> Calendar </span>
        </div>
      </div>
    </a>
  </li>
  <li>
    <a ui-sref="app.pages.messages">
      <div class="item-content">
        <div class="item-media">
          <span class="fa-stack"> <i class="fa fa-square fa-stack-2x"></i> <i class="fa fa-folder-open-o fa-stack-1x fa-inverse"></i> </span>
        </div>
        <div class="item-inner">
          <span class="title" translate="sidebar.nav.pages.MESSAGES"> Messages </span>
        </div>
      </div>
    </a>
  </li>
</ul> -->
<!-- end: CORE FEATURES -->
<!-- start: DOCUMENTATION BUTTON -->
<!-- <div class="wrapper">
  <a ui-sref="app.documentation" class="button-o">
    <i class="ti-help"></i>
    <span translate="sidebar.heading.DOCUMENTATION">Documentation</span>
  </a>
</div> -->
<!-- end: DOCUMENTATION BUTTON -->